body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
h1{
    margin: 20px;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    display: block;
}