*{
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pesel-list{
    width: 85px;
}

.button-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

button, a {
    margin: 10px;
}