<html>
<head>
    <title>Generator Peseli</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body{
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .options{

        }
    </style>
</head>
<body>
<div class="options">
    <h1>Pesel Generator</h1>

    <p>Twój wygenerowany pesel to: </p>

    <p class="output-field">00000000000</p>

    <input type="button" value="Wyślij wynik na maila...">
    <input type="button" value="Pobierz wynik">

    <input type="button" value="Generuj ponownie">
    <input type="button" value="Zmień parametry">

</div>
</body>
</html>